# QE temporary/binary files
tmp/
*.save
*.wfc*
*.mix*
*.xml
*.upd
*.exit
*.xsf
*.cube

# General ignores
*.pdf

# But track these folders explicitly
!results/
!results/*.png
!dft_data/
!dft_data/*.out
!dft_data/*.dat
!dft_data/*.gnu
!inputs/
!inputs/*.in
!scripts/
!scripts/*.py
!notes/
